{% load static %}
{% block headcontent %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="all,follow">



<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/headersearch.css' %}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:900,900i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.default.css' %}">
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
<!-- Tiny MCE -->
<link rel="stylesheet" href="{% static 'css/github.css' %}">
{% endblock headcontent %}
<!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,600,600i,900,900i&display=swap" rel="stylesheet">-->




