{% extends "blogbase.html" %}
{% block blogcontent %}
    <div class="card-columns">
        <!-- Blog Entries Column -->
        {% for post in post_list %}
        <div class="card mb-3">
        <img class="card-img-top" src="{{post.cover.url}}" alt="Card image cap">
            <div class="card-body">
                <p class="blog-header-logo">{{ post.title }}</p>
                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                <p class="card-text">{{post.content|slice:":200" }}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock blogcontent %}
